
    <div class="header">
        <input #search
        class="form-control"
        type="search"
        placeholder="Hladat"
        (input)="filter(search.value)">

        
    </div>
    <div class="body">
        <app-work-list [itemList]="workItems"></app-work-list>
        <!-- <ul 
    class="list-group"
    *ngFor="let item of workItems">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="workName">{{ item.workName }}</span>
        <span class="badge badge-pill"
        [ngClass]="(item.point > 0.5) ? 'badge badge-danger' : 'badge-success'">
          {{item.level}}
        </span>
    </li>
</ul> -->
    </div>
    <div class="footer">
        <app-item-summarry [low]="low" [high]="high"></app-item-summarry>
    </div>

