.header, .body, .footer {
    position: absolute;
    width: 20%;
  }
  
  .header {
    top: 0;
    height: 70px;
    padding: 1rem;
  }
  
  .body {
    padding: 1rem;
    top: 80px;
    bottom: 10%;
    overflow: auto;
    overflow-x: hidden;
  }
  
  .footer {   
    border-width: 1px;
    border-color: rgb(194, 180, 180);
    bottom: 0;
    height: 100px;
  }