.form-control {
    width: 99%;
    padding-left: 1rem;
    margin-top: 1rem;    
}

.add-btn {
    float: right;
    margin-top: 1rem;
    margin-right: 1%;
    height: 4rem;
}

.form-datecontrol {
    padding-left: 1rem;
    float: right;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 4rem;    
  }