<form>
    <div class="form-group">        
        <span>Vitajte v zozname úloh</span>        
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary add-btn"
                routerLink="/items/add"
                routerLinkActive="active">Pridať úlohu</button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary add-btn"
        routerLink="/items/detail/1"
        routerLinkActive="active">Zobraziť detail</button>
    </div>
        
 </form>