.side-bar-wrapper {
    position: absolute;
    border-width: 1px;
    border-color: rgb(194, 180, 180);
    float: left;
    width: 20%;
    height: 90%;
  }

  .detail-wrapper {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
  } 
  
  