>:host {
  display: block;
  height: 100%;
}

.side-bar-wrapper {
  border: 1px solid #c2b4b4;
  float: left;
  width: 20%;
  height: 100%;
  padding-top: 1rem;
}

.detail-wrapper {
  padding-left: 20%;
  height: 100%;
}

.container {
  padding-top: 1rem;
}
  
  