<div *ngIf="selectedWorkItem">
    <form>
        <fieldset disabled>
          <div class="form-group">
            <label for="disabledWorkNmeInput">Názov úlohy</label>
            <input type="text" id="disabledWorkNmeInput" class="form-control" placeholder={{item.workName}}>
          </div>
          <div class="form-group">
            <label for="disabledPriorityInput">Priorita úlohy</label>
            <input type="text" id="disabledPriorityInput" class="form-control" placeholder={{item.level}}>
          </div>
          <div class="form-group">
            <label for="disabledDateInput">Dátum vytvorenia úlohy</label>
            <input type="text" id="disabledDateInput" class="form-control" placeholder={{item.createDate|itemDatePipe}}>
          </div>
        </fieldset>
      </form>
</div>

