<nav class="navbar">

    <a  class="kros active"
        href="/sideBar">
        Kros SideBar
    </a>

    <div class="menu">
        <ul>
            <li>
                <a 
                    routerLinkActive="active"
                    routerLink="/home"
                >
                    Domov
                </a>
            </li>
        
            <li>
                <a 
                    routerLinkActive="active"
                    routerLink="/invoicing"
                >
                    Fakturácia
                </a>
            </li>
        </ul>
    </div>
</nav>